@font-face {
    font-family: "ApotekBold";
    src: url("./fonts/Apotek_Black.otf");
}

@font-face {
    font-family: "ApotekMedium";
    src: url("./fonts/ApotekMedium.otf");
}


@font-face {
    font-family: "ApotekThin";
    src: url("./fonts/ApotekLight.otf");
}

body{

}

.outline-shape1{
    position: absolute;
    top: 10px;
    left: 10px;
}

.left-mask{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 162px;
    height: 129px;
    -webkit-mask: url("./ModularPieces/logo-box.png");
    mask-image: url("./ModularPieces/logo-box.png");
    mask-repeat: no-repeat;
}

.right-mask{
    position: absolute;
    top: 8px;
    right: 590px;
    width: 162px;
    height: 129px;
    -webkit-mask: url("./ModularPieces/flipped-logo-box.png");
    mask-image: url("./ModularPieces/flipped-logo-box.png");
    mask-repeat: no-repeat;
}

.outline-shape2{
    position: absolute;
    top: 9px;
    left: 609px;
    transform: rotate(180deg);
}

.team1colour{
    /*fill: #E11755;*/
}

.team2colour{
    /*fill: #109dd1;*/
}

.team3colour{
    /*fill: #6751FE;*/
}

.team4colour{
    /*fill: #FFFFFF;*/
}i

.team5colour{
    /*fill: #9851AE;*/
}

.team6colour{
    /*fill: #B92531;*/
}

.logo{
    max-width: 175px;
    max-height: 175px;
    size: auto;
}


/* layer stuff */
.toplayer{
    z-index: 1;
}
.botlayer{
    z-index: 0;
}

.fixture{
    width: 1798px;
    height: 130px;
}

.bar{
    position: relative;
    top: -10px;
    left: 296px;
}

.game1{
    position: fixed;
    top: 239px;
    left: 55px;
}

.game2{
    position: fixed;
    top: 423px;
    left: 55px;
}

.game3{
    position: fixed;
    top: 605px;
    left: 55px;
}

.game4{
    position: fixed;
    top: 787px;
    left: 55px;
}

.leftlogo{
    transform: rotate(-10deg);
}

.rightlogo{
    transform: rotate(10deg);
}

.back{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 1188px;
}

.tier{
    position: absolute;
    top: 43px;
    left: 1527px;
    max-width: 275px;
    max-height: 46px;
}

.time{
    position: absolute;
    left: 8px;
    top: 37px;
    display: block;
    width: 250px;
    height: 67px;
    text-align: center;
    vertical-align: center;
    color: black;
    font-family: ApotekBold;
    font-size: 47px;
    letter-spacing: 6px;
}

.name{
    /*background-color: red;*/
    display: block;
    width: 390px;
    height: 67px;
    text-align: center;
    vertical-align: center;
    color: white;
    font-family: ApotekBold;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.leftname{
    position: absolute;
    top: 55px;
    left: 173px;
}

.rightname{
    position: absolute;
    top: 55px;
    right: 753px;
}

.scoreleft{
    position: absolute;
    top: 14px;
    left: 519px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 120px;
    text-align: center;
    font-size: 90px;
    font-family: ApotekBold;
    color: white;
}

.scoreright{
    position: absolute;
    top: 14px;
    left: 609px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 120px;
    text-align: center;
    font-size: 90px;
    font-family: ApotekBold;
    color: white;
}

.timebanner{
    position: absolute;
    top: 42px;
    left: 8px;
}

.title{
    display: block;
    width: 1000px;
    height: 100px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 460px;
    font-family: ApotekBold;
    text-transform: uppercase;
    color: white;
    font-size: 86px;
}

.subtitle{
    display: block;
    width: 750px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 116px;
    left: 586px;
    font-family: ApotekBold;
    text-transform: uppercase;
    color: #e10448;
    font-size: 40px;
    letter-spacing: 10px;
}

#timezone{
    position: fixed;
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    position: fixed;
    top: 220px;
    left: 93px;
    font-family: ApotekBold;
    font-size: 24px;
    letter-spacing: 12px;
    color: #e10448;
}